@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
}

*:focus{
  outline: none;
}

html{
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

nav{
  width: calc(100vw - 54rem);
  padding: 7.5rem 27rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s ease-in-out;
}

@media only screen and (max-width: 768px){
  html{
    font-size: 7.5px;
  }

  nav{
    width: calc(100vw - 5rem);
    padding: 5rem 2.5rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1360px){
  html{
    font-size: 7.5px;
  }
  
  nav{
    width: calc(100vw - 30rem);
    padding: 5rem 15rem;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1600px){
  html{
    font-size: 8px;
  }
}

@media only screen and (min-width: 1921px){
  html{
    font-size: 12.5px;
  }
}

@media only screen and (min-width: 2560px){
  html{
    font-size: 15px;
  }
}

@media only screen and (min-width: 3840px){
  html{
    font-size: 18px;
  }
}

.nav-active{
  background: #101010;
}

nav h1{
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  z-index: 999;
}

.nav-active h1{
  color: white;
}

nav .nav-links{
  display: flex;
  gap: 2rem;
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 768px){
  nav .nav-links{
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 5rem);
    height: 100vh;
    padding: 0rem 2.5rem;
    background: #101010;
    z-index: 998;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    transition: 1s ease-in-out;
  }
}

nav .nav-hide{
  transform: translateY(-12.5rem);
}

@media only screen and (max-width: 768px){
  nav .nav-hide{
    transform: translateY(-105vh);
  }
}

nav .nav-links a{
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -0.1rem;
  background: linear-gradient(to right, white 50%, #101010 50%);
  background-size: 400% 100%;
  background-position: 100% 100%;
  opacity: 0;
  transition: opacity 0s linear, background 0.3s ease-in-out;
}

@media only screen and (max-width: 768px){
  nav .nav-links a{
    background: linear-gradient(to right,#101010 100%);
    font-size: 5rem;
    transition: opacity 0s linear, background 0.3s ease-in-out;
  }
}

.nav-active .nav-links a{
  transition: opacity 0.3s ease-in-out 0.6s, background 0.3s ease-in-out;
  opacity: 1;
}

nav .nav-links a:hover{
  cursor: pointer;
  color: #303030;
  background-position: 0% 100%;
}

@media only screen and (max-width: 768px){
  nav .nav-links a:hover{
    color: white;
  }
}

nav .burger{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 999;
}

nav .burger:hover{
  cursor: pointer;
}

nav .burger .burger-line{
  height: 0.2rem;
  width: 2.5rem;
  background-color: #303030;
  transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 768px){
  nav .burger .burger-line{
    height: 0.3rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1360px){
  nav .burger .burger-line{
    height: 0.33rem;
  }
}

.nav-active .burger .burger-line{
  background-color: white;
}

nav .burger-active .line-1{
  transform: translateY(0.35rem) rotate(45deg);
}

nav .burger-active .line-2{
  transform: translateY(-0.35rem) rotate(-45deg);
}

.hero-section{
  width: calc(100vw - 72rem);
  margin: 10rem 26rem;
  padding: 0rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: flex-start;
  gap: 0rem;
}

.hero-section h1{
  font-size: 7.5rem;
  font-weight: 500;
  letter-spacing: -0.5rem;
  line-height: 8.7rem;
}

.hero-section h3{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.005rem;
}

.hero-section .hero-details{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px){
  .hero-section .hero-details{
    flex-direction: column;
    gap: 1rem;
  }
}

.hero-section .hero-stack{
  display: flex;
  gap: 0.5rem;
  font-size: 1.75rem;
}

.hero-section .hero-stack h3{
  font-weight: 500;
}

.hero-section .hero-stack h3:first-of-type{
  font-weight: 700;
}

.reveal span{
  display: inline-block;
}

.reveal{
  display: inline-block;
  overflow: hidden;
}

@media only screen and (max-width: 768px){
  .hero-section{
    width: calc(100vw - 5rem);
    margin: 5rem 0rem 10rem;
    padding: 0rem 2.5rem;
  }

  .hero-section h1{
    font-size: 6.5rem;
    line-height: 7.5rem;
  }

  .hero-section h3{
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1366px){
  .hero-section{
    width: calc(100vw - 50rem);
    margin: 5rem 0rem 10rem;
    padding: 0rem 25rem;
  }

  .hero-section h1{
    font-size: 9rem;
    line-height: 10.5rem;
    letter-spacing: -0.65rem;
  }

  .hero-section h3{
    font-size: 1.75rem;
    letter-spacing: -0.125rem;
  }
}

.home-projects{
  width: calc(100vw - 72rem);
  margin: 15rem 26rem;
  padding: 0rem 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

@media only screen and (max-width: 768px){
  .home-projects{
    margin: 0rem 2.5rem 10rem;
    padding: 0rem;
    width: calc(100vw - 5rem);
    gap: 2.5rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1366px){
  .home-projects{
    margin: 0rem 255rem 10rem;
    padding: 0rem;
    width: calc(100vw - 100rem);
    gap: 2.5rem;
  }
}

.home-project{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home-projects a:nth-of-type(odd){
  transform: translateY(20%);
}

@media only screen and (max-width: 768px){
  .home-projects a:nth-of-type(odd){
    transform: translateY(0%);
  }
}

.home-project:hover{
  cursor: pointer;
}

.home-project .project-image{
  background: url('https://assets.website-files.com/5fcfd9eca66cfc2e54be8b9a/609030622b26b32c3fe0a46e_p-kdcg.gif');
  height: 40rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.6s ease-in-out;
  overflow: hidden;
}

.home-project:nth-of-type(odd) .project-image{
  background: url('https://assets.website-files.com/5fcfd9eca66cfc2e54be8b9a/6090306e7b77ff4b988a2d02_p-ktl.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media only screen and (max-width: 768px){
  .home-project .project-image{
    height: 25rem;
  }
}

.home-project:hover .project-image{
  transform: scale(1.1);
}

.home-project .project-nav{
  display: flex;
  padding: 1rem 0rem;
  justify-content: space-between;
  background-color: white;
  z-index: 10;
}

.home-project .project-details{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home-project .project-details h1{
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
}

.home-project .project-details h3{
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
}

.home-project .project-explore{
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  border: thin solid #303030;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease-in-out;
}

@media only screen and (max-width: 768px){
  .home-project .project-details h1{
    font-size: 2.5rem;
    font-weight: 500;
  }

  .home-project .project-details h3{
    font-size: 2rem;
  }

  .home-project .project-explore{
    display: none;
  }
}

.home-project:hover .project-explore{
  transform: rotate(-45deg);
  filter: invert(1);
}

.skills-section{
  width: calc(100vw - 52rem);
  padding: 15rem 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-section .skills-header{
  font-size: 6rem;
  font-weight: 600;
}

.skills-section .skills-mobile-header{
  font-size: 6rem;
  display: none;
}

.skills-section .skills-more{
  font-size: 2rem;
  font-weight: 800;
  color: #202020;
  text-transform: uppercase;
  text-decoration: underline;
  display: none;
}

.skills-section .skills{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media only screen and (max-width: 768px){
  .skills-section{
    width: calc(100vw - 5rem);
    padding: 5rem 2.5rem 10rem;
    align-items: flex-start;
  }

  .skills-section .skills{
    display: none;
  }

  .skills-section .skills-more{
    display: block;
  }

  .skills-section .skills-header{
    display: none;
  }

  .skills-section .skills-mobile-header{
    display: block;
  }
}

.skills-section .skills ul{
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style: none;
}

.skills-section .skills li{
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.05rem;
}

footer{
  border-top: thin solid rgba(0,0,0,0.15);
  width: calc(100vw - 72rem);
  padding: 10rem 36rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  gap: 2rem;
  color: black;
}

@media only screen and (max-width: 768px){
  footer{
    width: calc(100vw - 5rem);
    padding: 5rem 2.5rem;
    flex-direction: column;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1360px){
  footer{
    width: calc(100vw - 40rem);
    padding: 5rem 20rem;
  }
}

footer h1{
  font-size: 4.5rem;
  letter-spacing: -0.25rem;
  font-weight: 600;
  line-height: 6rem;
}

footer ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  list-style: none;
}

footer ul h3{
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
}

footer ul a{
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 768px){
  footer ul{
    flex-direction: row;
    justify-content: flex-start;
  }

  footer ul li:first-of-type{
    display: none;
  }

  footer ul a{
    font-size: 2rem;
    font-weight: 300;
  }
}

.home-blog-header{
  margin: 15rem 36rem 5rem;
  transform: translateY(22.5rem);
  font-size: 7.5rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px){
  .home-blog-header{
    transform: translateY(0rem);
    margin: 0rem 2.5rem;
  }
}

.page-cards{
  margin: 10rem 36rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.page-cards a:first-of-type{
  grid-column: 1/3;
}

a{
  text-decoration: none;
  color: #101010
}

@media only screen and (max-width: 768px){
  .page-cards{
    margin: 10rem 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .page-cards a:first-of-type{
    grid-column: 1/2;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1360px){
  .page-cards{
    margin: 0rem 20rem 10rem;
    padding: 0rem;
    width: calc(100vw - 40rem);
    gap: 2.5rem;
  }
}

.blog-text{
  padding: 1.75rem 36rem;
  font-size: 1.75rem;
  letter-spacing: -0.07rem;
}

.blog-section-text{
  padding: 0.5rem 36rem;
}

.blog-head{
  padding: 0rem 36rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.075rem;
}

.blog-code{
  background-color: #1E1E1E;
  margin: 1rem 36rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  position: relative;
}

.blog-code button{
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  padding: 0.5rem;
  background-color: transparent;
  border: thin solid white;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.25rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.blog-code button:hover{
  background-color: white;
  color: #1E1E1E;
  cursor: pointer;
}

.blog-code .code-copied{
  background-color: white;
  color: #1E1E1E;
}

code{
  font-family: 'Consolas', 'Courier New', monospace;
  color: #C70039;
}

.blog-image{
  margin: 2.5rem 26rem;
  height: 60rem;
  width: calc(100vw - 52rem);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.blog-links{
  padding: 5rem 26em;
  display: flex;
  justify-content: space-around;
}

.blog-link h3{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.05rem;
}

.blog-link a{
  text-decoration: none;
  font-size: 3.5rem;
  color: #101010;
  font-weight: 500;
  letter-spacing: -0.25rem;
  padding: 0.5rem 0rem;
  border-bottom: thin solid #101010;
}

.blog-section{
  padding: 3rem 0rem;
}

.code-sandbox{
  margin: 2.5rem 36rem;
  width: calc(100vw - 73.5rem);
  height: 45vh;
  border: none;
  overflow: hidden;
}

@media only screen and (max-width: 768px){
  .blog-text{
    padding: 1rem 2.5rem;
    font-size: 2.25rem;
  }

  .blog-image{
    margin: 0rem 2.5rem;
    width: calc(100vw - 5rem);
    height: 30rem;
  }
  
  .blog-head{
    padding: 0rem;
    margin: 0rem 2.5rem;
    font-size: 1.25rem;
  }

  .blog-code{
    margin: 0rem 2.5rem;
    font-size: 1.75rem;
  }

  .blog-code button{
    display: none;
  }

  .blog-links{
    padding: 0rem 2.5rem 5rem;
    flex-direction: column;
    gap: 2.5rem;
  }

  .blog-link a{
    font-size: 3rem;
  }

  .blog-section{
    padding: 1rem 0rem;
  }

  .code-sandbox{
    margin: 2.5rem;
    width: calc(100vw - 5rem);
  }
}

.add-project{
  margin: 10rem 36rem 2.5rem;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
}

.alt-projects{
  margin: 0rem 36rem 10rem;
}

@media only screen and (max-width: 768px){
  .add-project{
    margin: 5rem 2.5rem 2.5rem;
    font-size: 3.5rem;
  }

  .alt-projects{
    margin: 0rem 2.5rem 5rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1360px){
  .add-project{
    margin: 5rem 20rem 2.5rem;
    font-size: 3.5rem;
  }

  .alt-projects{
    margin: 0rem 20rem 5rem;
  }
}

/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

 .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1E1E1E;
  color: #DCDCDC;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: #569CD6;
}
.hljs-link {
  color: #569CD6;
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: #4EC9B0;
}

.hljs-number,
.hljs-class {
  color: #B8D7A3;
}

.hljs-string,
.hljs-meta-string {
  color: #D69D85;
}

.hljs-regexp,
.hljs-template-tag {
  color: #9A5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  color: #DCDCDC;
}

.hljs-comment,
.hljs-quote {
  color: #57A64A;
  font-style: italic;
}

.hljs-doctag {
  color: #608B4E;
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
  color: #9B9B9B;
}

.hljs-variable,
.hljs-template-variable {
  color: #BD63C5;
}

.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
  color: #9CDCFE;
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
  font-family:'Monospace';
}*/

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #D7BA7D;
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}